.outline {
  border: 2px solid black;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}
.content {
  margin-left: 100px;
  margin-right: 100px;
}
.content h1 {
  font-size: 60px;
}

.first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.first button {
  width: 120px;
  height: 40px;
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  margin-right: 20px; /* 버튼 사이 간격 조정 */
}

.second * {
  display: inline-block;
  margin-bottom: 6px;
}
.todo {
  border: none;
}
.second button {
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 5px; /* 버튼 사이 간격 조정 */
}
.third {
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
  text-align: left;
}
.todo * {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}
.selected {
  background-color: lightblue;
}

/* 활성화되지 않은 버튼 기본 스타일 */
.first button:not(.selected) {
  background-color: white; /* 기본 배경 색상 */
  color: black; /* 기본 텍스트 색상 */
}

/* 활성화된 버튼 스타일 */
.first button.selected {
  background-color: #4caf50; /* 활성 버튼의 배경 색상 */
  color: white; /* 활성 버튼의 텍스트 색상 */
}
